button {
    /*font-family: inherit; принудительное унаследование от боди для кнопок*/
    cursor: pointer;
    /*курсор ладонь*/
    display: block;
    border: none;
    background: var(--accent-color);
    border-radius: 25px;
   padding-top: 8px;
   padding-bottom: 9px;

    width: 145px;
    height: 40px;
    
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    color: #FFFFFF;

/* тень кнопки */
    box-shadow:  (10px 15px 25px rgba(232, 183, 183, 0.45));
    
}